.flex {
    display: flex;
}

.center {
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.smaller {
    font-size: smaller;
}

.gap-20 {
    gap: 20px;
}

.padd-7 {
    padding: 0px 7px;
}

.select {
    min-width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    padding: 10px;
    /* arrow */
    appearance: none;
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

.input-number {
    appearance: none;
    min-width: 80px;
}

.calc {
    min-width: 200px;
    width: fit-content;
    background-color: white;
    border: 1px solid aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

.slider-range {
    width: 50px !important;
}

.gray {
    color: gray;
}

.result {
    font-size: larger;
    font-weight: bolder;

}

.wrapper {
    
    width: 300px;
    height: 350px;
    /* border: 1px solid black; */
    position: relative;
}


.image-container {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: calc(100% - 30px);
    height: calc(100% - 30px); 
    overflow: hidden;
    border: 1px solid red;
    transition: all .3s ease-in;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Зображення заповнює контейнер без білих полів */
    object-position: 50% 10%;
    /* Центрування зображення в контейнері */
}
.size-indicators {
    /* border: 1px solid orange; */
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

.top-indicator {
    display: block;
    position: absolute;
    width: 60px;
    height: 30px;
    text-align: center;
    right: calc(50% - 15px)
 
}

.right-indicator {
    display: block;
    position: absolute; 
    width: 60px;
    height: 30px;
    right: -15px;
    line-height: 30px;
    text-align: center;
    rotate: 90deg;
    top: calc(50% - 15px);
}